@import "ligth.css";
@import "dark.css";
@import "tokens.css";

@font-face {
    font-family: "Inter";
    src: url("/fonts/inter-full-full-normal.woff2") format("woff2");
    font-weight: 100 900;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "Inter";
    src: url("/fonts/inter-full-full-italic.woff2") format("woff2");
    font-weight: 100 900;
    font-style: italic;
    font-display: swap;
}

:root {
    font-family: "Inter", Arial, Helvetica, sans-serif;
    font-weight: 300;
}

* {
  box-sizing: border-box;
}

html {
  font-size: 16px;
}

body {
  margin     : 0;
  background : var(--color-background);
  color      : var(--color-text-primary);
}
