@import "./tokens.css";

:root{
    --color-background             : var(--neutral-50);
    --color-surface                : var(--neutral-0);
    --color-surface-secondary      : var(--neutral-100);
    --color-surface-darkend        : var(--neutral-900);
    --color-surface-outline        : var(--neutral-900);

    --color-text-primary           : #000000;
    --color-text-secondary         : var(--neutral-800);
    --color-text-highligth         : var(--blue-700);
    --color-text-ligther           : var(--neutral-0);
    --color-text-ligther-highligth : var(--neutral-100);

    --color-primary                : var(--green-700);
    --color-primary-darkend        : var(--green-800);

    --color-sucess                 : var(--green-700);
    --color-warning                : var(--amber-700);
    --color-error                  : var(--red-700);
}
