:root{
    --neutral-0   : #FFFFFF;
    --neutral-50  : #F8FAFC;
    --neutral-100 : #EFF2F6;
    --neutral-200 : #CCD7E2;
    --neutral-300 : #A8BCD0;
    --neutral-400 : #84A1BE;
    --neutral-500 : #5586B6;
    --neutral-600 : #406B95;
    --neutral-700 : #305070;
    --neutral-800 : #20354A;
    --neutral-900 : #0F1A24;
    --neutral-950 : #020617;

    --green-100   : #EBF9F0;
    --green-200   : #C0EED0;
    --green-300   : #93E5AF;
    --green-400   : #63DF8E;
    --green-500   : #20EC66;
    --green-600   : #11C54F;
    --green-700   : #0D933B;
    --green-800   : #086127;
    --green-900   : #042F13;

    --cyan-100    : #EAF9FA;
    --cyan-200    : #BDEDF1;
    --cyan-300    : #8DE3EB;
    --cyan-400    : #5BDBE7;
    --cyan-500    : #12E6FA;
    --cyan-600    : #04C0D1;
    --cyan-700    : #038F9C;
    --cyan-800    : #025E67;
    --cyan-900    : #012E32;

    --blue-100    : #EAF1FA;
    --blue-200    : #BDD3F1;
    --blue-300    : #8EB5EA;
    --blue-400    : #5C97E6;
    --blue-500    : #1376F8;
    --blue-600    : #065CD0;
    --blue-700    : #04459B;
    --blue-800    : #032D66;
    --blue-900    : #011632;

    --amber-100   : #FAF7EA;
    --amber-200   : #F2E7BD;
    --amber-300   : #EBD88D;
    --amber-400   : #E8CB5A;
    --amber-500   : #FBCC11;
    --amber-600   : #D2A904;
    --amber-700   : #9D7E03;
    --amber-800   : #675302;
    --amber-900   : #322801;

    --red-100     : #FAEBEB;
    --red-200     : #F1BEBE;
    --red-300     : #EA8E8E;
    --red-400     : #E55D5D;
    --red-500     : #F71515;
    --red-600     : #CE0707;
    --red-700     : #9A0505;
    --red-800     : #660404;
    --red-900     : #310202;
}
